{%extends "base.html"%}
{%block heading%}Hello World{%endblock%}
{%block subheading%}Welcome {{user}}<span class="float-right"><a href='/logout'><button>Logout</button></a></span>{%endblock%}
{%block body%}
<form method="POST" class="text-center">
    <textarea name="MyNote" rows="5" placeholder="Enter your note" class="form-control"></textarea>
    <button type="submit" class="btn btn-primary btn-lg btn-block size">Save</button>
</form>
<div>
    <h4 class="size">Previous Notes</h4>
    <br>
    {%for note in notes%}
    <div class="alert alert-dark size pb-5" role="alert">
      <pre>{{note["note_text"]}}</pre><span class="float-right">{{note["created at"].strftime("%b %d, %Y")}}</span>
    </div>
    {%endfor%}
    </div>
  </div>
{%endblock%}