{%extends "base.html"%}
{%block heading%}Hello World{%endblock%}
{%block subheading%}Welcome {{user}}<span class="float-right"><a
    href='/logout'><button>Logout</button></a></span>{%endblock%}
{%block body%}
<form method="POST" class="text-center">
  <textarea name="MyNote" rows="5" placeholder="Enter your note" class="form-control"></textarea>
  <button type="submit" class="btn btn-primary btn-lg btn-block size">Save</button>
</form>
<div>
  <h4 class="size">Previous Notes</h4>
  <br>
  {%for note in notes%}
  <div class="alert alert-dark size pb-5" role="alert">
    <form method="POST" action="/update">
      <button name="id" value="{{note['_id']}}" style="display: none;" class="float-right">Save</button>
      <button type="button" onclick="cancel(this)" style="display: none;" class="float-right">Cancel</button>
      <button type="button" onclick="edit(this)" class="float-right">Edit</button>
      <pre id="pre">{{note["note_text"]}}</pre>
      <textarea name="input" class="form-control" id="textarea" style="display: none;">{{note["note_text"]}}</textarea>
      <span class="float-right">{{note["created at"].strftime("%b %d, %Y")}}</span>
    </form>
  </div>
  {%endfor%}
</div>
</div>
<script>
  var edit = function (button) {
    var preObj = button.nextElementSibling
    var textareaObj = preObj.nextElementSibling
    var cancelObj = button.previousElementSibling
    var saveObj = cancelObj.previousElementSibling
    textareaObj.style.display = "block";
    preObj.style.display = "none";
    cancelObj.style.display = "inline-block"
    saveObj.style.display = "inline-block"
    button.style.display = "none"
  }
  var cancel = function (button) {
    var saveObj = button.previousElementSibling
    var editObj = button.nextElementSibling
    var preObj = editObj.nextElementSibling
    var textareaObj = preObj.nextElementSibling
    textareaObj.style.display = "none";
    preObj.style.display = "block";
    editObj.style.display = "inline-block"
    saveObj.style.display = "none"
    button.style.display = "none"
  }
</script>
{%endblock%}
